extend layout
block content
  div
    a(href="/new-user-form") Create new user
  div
    a(href="/searchusers") Search
  table
    tr
      th User ID
      th First Name
      th Last Name
      th Email
      th Age
    each user in users
      tr
        td= user._id
        td= user.fname
        td= user.lname
        td= user.email
        td= user.age
        td
          a(href=`/edit/${user._id}`) Edit
        td
          a(href=`/delete/${user._id}`) Delete